.carousel-item {
  height: 900px;           /* Set to your desired height */
}
.carousel-item img {
  height: 100%;
  object-fit: cover;        /* Ensures image covers carousel area without stretching */
}

a:link {
  color: azure;
}